<div [formGroup]="parent">
    <div formGroupName="store">
      <input 
        type="text" 
        placeholder="Branch ID"
        formControlName="branch">
        <div 
        class="error"
        *ngIf="required('branch')">
         Branch ID is Required
        </div>
        <div 
        class="error"
        *ngIf="invalid">
         Invalid branch code: 1 letter, 3 numbers 
        </div>
        <div 
        class="error"
        *ngIf="unknown">
         Unknown Branch, please check the ID 
        </div>
      <input 
        type="text" 
        placeholder="Manager Code"
        formControlName="code">
        <div 
        class="error"
        *ngIf="required('code')">
          Manager ID is required 
          </div>
      </div>
  </div>